
.shareContainer{
    padding-left: 5px;
}
.share{
    position: absolute;
    opacity: 0;
}

.itemShare{
    margin: 5px;
}

.shareIcons{
    background-color: rgb(222, 128, 102, 0.6); 
    border: 1px solid rgb(222, 128, 102);
    margin-left: 10px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.shareIcons.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: ease 500ms;
}

.shareIcons.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: ease-in-out 500ms ;
}


.shareIcons{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 128, 102, 0.6); 
    border: 1px solid rgb(222, 128, 102);
    padding: 10px 15px;
  }
  
 
.iconsFuntional{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    size: 20px;
}

.iconsFuntional:hover{
    color: var(--naranja)
}




@media (min-width : 769px) {
    .shareContainer{
        padding-left: 25px;
    }

}


